# Exercise 1: 
Below are the two lists convert it into the dictionary

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [1]:
list_1 = ["Ten", "Twenty" , "Thirty"]
list_2 = [10, 20, 30]

dict_1 = dict(zip(list_1 , list_2))
print(dict_1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise 2: 
Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [5]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Exercise 3: 
Access the value of key ‘history’

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

Expected output:

80

In [10]:
sampleDict = { "class":{ "student":{ "name":"Mike", "marks":{ "physics":70, "history":80 } } } }
print(sampleDict["class"]["student"]["marks"]["history"])

80

# exercise 4: 
Initialize dictionary with default values
Given:

employees = ['Kelly', 'Emma', 'John']

defaults = {"designation": 'Application Developer', "salary": 8000}

# Exercise 5: 

Create a new dictionary by extracting the following keys from a given dictionary
Given dictionary:

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"  
}

Keys to extract

keys = ["name", "salary"]

Expected output:

{'name': 'Kelly', 'salary': 8000}

In [11]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"
}

for key , value in sampleDict.items():
    if key == "name" or key == "salary":
        print(key , value)

name Kelly
salary 8000

# Exercise 6: 
Delete set of keys from Python Dictionary

Given:

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

keysToRemove = ["name", "salary"]
Expected output:

{'city': 'New york', 'age': 25}

In [16]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
del sampleDict["name"]
del sampleDict["salary"]
print(sampleDict)

{'age': 25, 'city': 'New york'}

# Exercise 7: 

Check if a value 200 exists in a dictionary

sampleDict = {'a': 100, 'b': 200, 'c': 300}

Expected output:

True

In [18]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

print(200 in sampleDict.values())

True

# Exercise 8: 

Rename key city to location in the following dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

Expected output:

{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

In [30]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# Exercise 9: 

Get the key corresponding to the minimum value from the following dictionary

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

Expected output:

Math

In [32]:
sampleDict = { 'Physics': 82, 'Math': 65, 'history': 75 }
min(sampleDict , key = sampleDict.get)

'Math'

# Exercise 10: 
    
Given a Python dictionary, Change Brad’s salary to 8500

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

Expected output:

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

In [37]:
sampleDict = { 'emp1': {'name': 'Jhon', 'salary': 7500},
              'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500} }
sampleDict["emp3"]["salary"] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Exercise 11:

Write a Python script to add a key to a dictionary

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [39]:
dict1 = {0: 10, 1: 20}
dict1[2] = 30
print(dict1)

{0: 10, 1: 20, 2: 30}

# Exercise 12:
Write a program that takes inpuut from user (key and value) and add that kry value pair to dictionary

In [40]:
dict1 = {0: 10, 1: 20}

key_name = input("name the key: ")
value_name = input("name the value: ")

dict1[key_name] = value_name
print(dict1)

name the key: faisal
name the value: 23
{0: 10, 1: 20, 'faisal': '23'}

# Exercise 13:

Write a Python script to concatenate following dictionaries to create a new one. Go to the editor

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [41]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict4 = {}

for d in (dict1 , dic2 , dic3):
    dict4.update(d)
    
print(dict4)

{0: 10, 1: 20, 'faisal': '23', 3: 30, 4: 40, 5: 50, 6: 60}

# Exercise 14:

Write a Python program to multiply all the items in a dictionary

In [46]:
my_dict = {'one':2,'two':6,'three':9}
result=1
for key in my_dict:    
    result=result * my_dict[key]

print(result)

108

# Exercise 15:

Write a Python program that accepts a string and calculate 
the number of digits and letters

In [47]:
my_str = "faisalAmin12"

alph = 0
num = 0

for i in my_str:
    if i.isdigit():
        num = num + 1
    else:
        alph = alph + 1

        
print("No of Digits: ", num)
print("No of Alphabets: ", alph)

No of Digits:  2
No of Alphabets:  10